header {
  background-color: #000000;
  padding: 20px;

}

h1:hover {
  font-size: 78px;
}

.caixa {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #2aa14e;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  position: relative;
  width: 1200px;
  top: 10px;
  margin: 0px auto;


}

.empresa {
  color: #ffffff;
  font-size: 70px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  vertical-align: center;
  top: 40px;
  margin: 0px;

}

.imagem {
  width: 30%;
  margin-right: 4000px;
  margin-top: -120px;

}

.imagemlogo {
  width: 40%;
  height: 40%;
  margin-right: 2000px;
}

.logo-inicio {
  top: -50px;


}

.imagemdiv {
  width: 50%;
}

nav {
  position: absolute;
  top: 43px;
  right: 0px;
}

nav li {
  color: #ffffff;
  text-align: top;
  display: inline-block;
  margin: 0 0 10px 5px;

}

.home {
  width: 20px;
  height: 20px;
  padding: 1px;
}

.bola {
  width: 20px;
  height: 20px;
  padding: 1px;
}

.telefone {
  width: 20px;
  height: 20px;
  padding: 1px;
}

nav a {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 22px;
  text-decoration: none;

}


nav a:hover {
  color: #8bc56a
}

main {
  padding: 10px;
}

.form {
  width: 60%;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 3rem;
  border-radius: 17px;
  position: relative;
  right: 50px;

}

#titulo {
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  font-family: sans-serif;
  color: #30503A;
  margin-left: 7%;
  align-items: center;
  text-align: center;
}

#subtitulo {
  display: flex;
  font-family: sans-serif;
  color: #30503A;
  margin-left: 7%;
  align-items: center;
  text-align: center;

}

body {
  background-image: url(/fundoverde.png);
  background-color: #ebf3e7;
  font-family: sans-serif;
  font-size: 1em;
  color: #30503A;
  justify-content: center;

}

.form{
  width: 940px;
  margin: 0 auto;
}

.data{
  padding: 20px;
  margin-bottom: 15px;
}

form label,
form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 14px 50px;
  width: 50%;


}

.box {
  margin: 20px 0;


}

input,
select,
textarea,
button {
  border-radius: 10px;
}

.campo {
  margin-bottom: 1em;
}

.campo label {
  margin-bottom: 0.2em;
  color: #30503A;
  display: block;
}

fieldset.grupo .campo {
  float: left;
  margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo select,
.campo textarea {
  padding: 0.2em;
  border: 1px solid #30503A;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
  display: block;
}

.campo select option {
  padding-right: 1em;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
  background: #8ab364;
}

.box {
  margin: 20px 0;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  background-color: #03300b;
  ;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bolder;
  border: none;
  transition: 2s all;
  cursor: pointer;
}

.enviar:hover {
  background: #42636b;
  transform: scale(1.1)
}

.data {
  padding: 30px;
  margin-bottom: 15px;

}

.opcao {
  padding: 18px;
  margin-bottom: 13px;
}

.ganhou {
  margin: 15px;
  margin-bottom: 15px;

}

footer {
  text-align: center;
  background-color: #000000;
  padding: 40px 0;
}

footer a {
  padding: 10px;
  color: white;
  text-decoration: none;

}

footer a:hover {
  color: #2aa14e;
}


footer li {
  padding: 1px 0 10px 10px;
  text-align: left;
}


.copy {
  color: #bbbbbb;
  font-size: 15px;
}